.app{

    width: 83%;
    margin-top:2rem ;
    margin-left: 10rem;
    position: relative;
   
    height: auto;
    flex-direction: row;
     

}
.imagecontiner{ 
margin-top: 20px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
column-gap: 65px;
row-gap: 70px;
border-radius: 10px;

}
.image{
    display: flex;
   flex-direction: row;
   justify-content: center;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    border-radius: 20px;
   height: 210px;
   width: 260px;

}

.html{
    height: 200px;
   width: 130px;
}
.css{
    height: 220px;
    width: 180px;
}
.react{
    height: 190px;
   width: 200px;
}
.redux{
    height: 220px;
   width: 200px;
}
.node{

    height: 200px;
   width: 260px;
}
.express{
    border-radius: 15px;
    height: 210px;
   width: 260px;
}
.api{
    height: 210px;
   width: 180px;
}
.mysql{
    height: 200px;
   width: 290px;
}
.mongodb{
    height: 250px;
   width: 290px;
}
.aws{
    height: 190px;
   width: 270px;
}

 .img2{
    height: 180px;
    margin-left: -4rem;
    margin-top: 2rem;
    
    margin-top:1rem ;
}
.img3{
    height: 160px;
    margin-left: 2rem;
    margin-top: 2rem;
}
.img4{
    height: 220px;
    margin-left: 2rem;
}
.img5{
    height: 280px;
    margin-left: 1rem;
    width: 300px;
    margin-top: -2rem;
}
.img6{
    height: 150px;
    width: 300px;
    margin-left: -2rem;
    margin-top: -5rem;
}
.img7{
    height: 190px;
    width: 300px;
    margin-left:15rem;
} 

  /* @media (max-width: 768px) {
    .app{

        width: 83%;
        margin-top:2rem ;
        margin-left: 10rem;
        position: relative;
       
        height: auto;
        flex-direction: row;
    
    
    }
    .imagecontiner{ 
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 65px;
    row-gap: 70px;
    border-radius: 10px;
    
    }
    .image{
        display: flex;
       flex-direction: row;
       justify-content: center;
       box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
        border-radius: 20px;
       height: 210px;
       width: 260px;
    
    }
    
    .html{
        height: 200px;
       width: 130px;
    }
    .css{
        height: 220px;
        width: 180px;
    }
    .react{
        height: 190px;
       width: 200px;
    }
    .redux{
        height: 220px;
       width: 200px;
    }
    .node{
    
        height: 200px;
       width: 260px;
    }
    .express{
        border-radius: 15px;
        height: 210px;
       width: 260px;
    }
    .api{
        height: 210px;
       width: 180px;
    }
    .mysql{
        height: 200px;
       width: 290px;
    }
    .mongodb{
        height: 250px;
       width: 290px;
    }
    .aws{
        height: 190px;
       width: 270px;
    }

 }   */


 @media (max-width: 425px) { 
    .app{

        width: 70%;
        margin-top:2rem ;
        /* margin-left: 10rem; */
        position: relative;
        left: -5rem;
       
        height: auto;
        flex-direction: row;
        /* background-color: blue; */
    
    }
    .imagecontiner{ 
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 65px;
    row-gap: 70px;
    border-radius: 10px;
    
    }
    .image{
        display: flex;
       flex-direction: row;
       justify-content: center;
       box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
        border-radius: 20px;
       height: 200px;
       width: 200px;
    
    }
    
    .html{
        height: 190px;
       width: 132px;
    }
    .css{
        height: 213px;
        width: 170px;
    }
    .react{
        height: 180px;
       width: 170px;
    }
    .redux{
        height: 215px;
       width: 220px;
    }
    .node{
    
        height: 160px;
       width: 200px;
       
    }
    .express{
        border-radius: 15px;
        height: 200px;
       width: 200px;
    }
    .api{
        height: 180px;
       width: 155px;
    }
    .mysql{
        height: 150px;
       width: 290px;
    }
    .mongodb{
        height: 209px;
       width: 238px;
    }
    .aws{
        height: 180px;
       width: 212px;
    }
 }